<body>
  <footer>
    <div class="f-info">
      <div class="f-info-socials">
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-linkedin"></i>
        <i class="fa-solid fa-envelope"></i>
      </div>
      <div>&copy; WonderLust Pvt. Ltd.</div>
      <div class="f-info-links">
        <a href="/privacy">Privacy</a>&nbsp; <a href="/term">Terms</a>&nbsp;
        <a href="/aboutUs">About Us</a>
      </div>
    </div>
  </footer>
</body>
