body {
  font-family: "Plus Jakarta Sans", sans-serif !important;
  font-optical-sizing: auto;
  font-weight: 400 !important;
  font-style: normal;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
  max-width: 100%;
  margin: 0 !important;
}

.navbar {
  height: 5rem;
  font-size: large;
  background-color: white;
}

.fa-compass {
  color: #fe424d;
  font-size: 2rem;
}

.nav-link {
  color: #222222 !important;
}

/* footer */
.f-info-links a {
  text-decoration: none;
  color: #222222;
}

.f-info-links a:hover {
  text-decoration: underline;
  color: blue;
}

.f-info {
  height: 7rem;
  display: flex;
  background-color: #ebebeb;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  /* margin-top: 2rem !important; */
}

.f-info-links {
  width: 100%;
}

.f-info-socials {
  margin-top: 5px;
  width: 100%;
  font-size: 1.3rem;
}

.f-info-socials i {
  margin-right: 1rem;
}
.f-info-socials i:hover {
  cursor: pointer;
}

/* cards */
.card {
  border: none !important;
  margin-top: 1rem !important;
}

.card-img-top {
  border-radius: 1rem !important;
  width: 100% !important;
  object-fit: cover !important;
}

.card-body {
  padding: 0 !important;
  margin-top: 10px !important;
}

.card-text p {
  font-weight: 400;
}

.listing-link {
  text-decoration: none;
}

.card-img-overlay {
  color: black;
  opacity: 0;
}

.card-img-overlay:hover {
  opacity: 0.5;
}

.add-btn,
.update-btn {
  background-color: #fe434f !important;
  border: none !important;
}

.show-img {
  height: 35vh;
}

.control-btns {
  display: flex;
  column-gap: 20px;
}

.edit-btn,
.delete-btn {
  text-decoration: none;
  background-color: #fe424d;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 4px 8px;
}

.container-box {
  flex: 1 !important;
  padding: 20px !important;
}

.index-box {
  justify-content: center;
  padding: 0 !important;
  margin: 0 !important;
}
